@font-face {
    font-family: 'Slims';
    font-style: normal;
    font-weight: 400;
    src: local('Slims'), url('https://fonts.cdnfonts.com/s/86600/Slims.woff') format('woff');
}

/* Home */
.titulo {
    font-family: 'Slims', sans-serif;
    font-size: 10em;
    font-weight: normal;
    color: #6A903D;
    text-align: center;
    text-shadow: 7px 7px 1px #F1C744;
    cursor: default;
}

body {
    background-color: black;

}

/*products styles*/
.card-products-container {
    margin: 5vh auto;
    cursor: default;
}

div .card {
    margin: 3em;
}

.card-products {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: x-large;
}

.card-products h3{
    color: #F1C744;
    font-size: xx-large;
}

.card-products img{
    margin-top: 40px;
    width: 250px;
    height: 200px;
    border-radius: 1em;    
    box-shadow: 3px 3px 15px #c6c3c39c;
}

.card-products button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #FF914D;
    
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;   
    border-radius: 1em;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.card-products button:hover {
    background-color: white;
    color: #FF914D;
}

/*card button*/
.cart-btn {
    position: fixed;
    top: 88vh;
    right: 45px;
    background-color: #92BC3D;
    padding: 20px;    
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

.cart-btn img {
    width: 3em;
    height: 3em;
    position: fixed;
    top: 89vh;
    right: 50px;    
    padding: 10px;
}

.cart-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.cart-counter {
    display: none;
    position: fixed;
    top: 89vh;
    right: 27px;
    color: #ffffff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
    font-family: sans-serif;
}

/*modal*/
.modal-overlay {
    display:None;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container{
    display: none;
    background-color: #F2E394;
    box-shadow: 2px 2px 10px black;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 1em;
    color: #F26D3D;
    font-family: sans-serif;
}

.modal-contaner::-webkit-scrollbar {
    display: none;
}

.modal-close {
    float: right;
    cursor: pointer;
}

.modal-title {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/*modal body*/
.modal-body{
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product-img{
    height: 70px;
    margin-right: 20px;
    width: 90px;
    border-radius: 1em;
    box-shadow: 2px 2px 15px #a29d7f;
}

.product-info{
    flex: 1;
    text-align: left;
}

.product-info h4{
    margin-top: 35px;
    color: black
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;
    color: #545454;
}

.quantity-btn-decrese, .quantity-btn-increse{
    color: #545454;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}

.quantity-input{
    color: black;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
    cursor: default;
}

@media only screen and (max-width: 500px){ /*media query para responsividad*/
    .product-img{
        display: none;
    }
    .modal-body{
        margin-left: 5px;
        margin-right: 5px;
    }

}

.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #6A903D;
    cursor: default;
}

.delete-product{
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
    color: #6A903D;
}

.modal-footer{
    text-align: center;
    margin-top: 5em;
}

.total-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #6A903D;
    cursor: default;
.btn-primary {
    background-color: #F26D3D;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 2em;
}

.btn-primary:hover {
    background-color: white;
    color: #FF914D;
    border: none;
}

#button-checkout {
    z-index: 10;
}

.titulo {
    font-family: 'Slims', sans-serif;
    font-size: 10em;
    font-weight: normal;
    color: #6A903D;
    text-align: center;
    text-shadow: 7px 7px 1px #F1C744;
}